<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LACKP</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h2>Teams:</h2>

    <ul>
      <% @teams.each do |team| %>
        <li><a href="/team/<%=team%>"><%= team %></a></li>
      <% end %>
    </ul>

    <h2>Positions:</h2>

    <ul>
      <% @positions.each do |position| %>
        <li><a href="/position/<%=position%>"><%= position %></a></li>
      <% end %>
    </ul>
  </body>
</html>
